<h1>
  Hola <%= @user_decorator.name %>!
</h1>

<h4>
  Usted está <%= @user_decorator.state_description %>.
</h4><br>

<% if @user_decorator.at_location? %>
<h4>
  Usted está en <%= @location_decorator.name %>. Hay <%= @location_decorator.concurrence %>
  persona<%= 's' if @location_decorator.has_many_users? %> en la locación y la capacidad máxima es
  <%= @location_decorator.capacity %>.
</h4>
<% end %>

<div class="row mx-md-n5">
  <div class="col px-md-5">
    <% if @user_decorator.can_check_in? %>
    <%= button_to 'Entrar con QR', '/qr/checkin', method: 'get', class: "btn btn-outline-dark btn-lg" %>
    <% end %>
    <% if @user_decorator.can_check_out? %>
    <%= button_to 'Salir con QR', '/qr/checkout', method: 'get', class: "btn btn-outline-dark btn-lg" %>
    <% end %>
  </div>
  <div class="col px-md-5">
    <% if @user_decorator.can_get_infected? %>
    <%= button_to 'Registrar test positivo', '/tests/positive', method: 'get', class: "btn btn-outline-danger btn-lg" %>
    <% end %>
  </div>
</div>
<br>
<div class="row mx-md-n5">
  <div class="col px-md-5">
    <%= button_to 'Registrar nueva locación', new_location_path, method: 'get',class: "btn btn-outline-dark btn-lg" %>
  </div>
  <div class="col px-md-5">
    <%= button_to 'Registrar test negativo', '/tests/negative', method: 'get', class: "btn btn-outline-success btn-lg" %>
  </div>
</div>
<br>

<div style="position: absolute; top: 40px; right: 20px;">
<% @notifications.each do | notification | %>
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" >
    <div class="toast-header">
      <%= image_tag "logo.png", width: "20", height: "25", class: "rounded mr-2"%>
      <!--<img src="/assets/logo.png" class="rounded mr-2" height="25" width="20">-->
      <strong class="mr-auto">Notificación</strong>
      <small><%= notification.created_at %></small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      <%= notification.message %>
    </div>
  </div>
<% end %>
</div>

<script>
  $('.toast').toast({
    autohide: false
  })
  $('.toast').toast('show')
  
</script>