<h1>
  Hola <%= @user_decorator.name %>!
</h1>

<h4>
  Usted está <%= @user_decorator.state_description %>. 
</h4><br>

<% if @user_decorator.at_location? %>
<h4>
  Usted está en <%= @location_decorator.name %>. Hay <%= @location_decorator.user_count %>
  persona<%= 's' if @location_decorator.has_many_users? %> en la locación y la capacidad máxima es <%= @location_decorator.capacity %>.
</h4>
<% end %>

<% if @user_decorator.can_check_in? %>
<%= button_to 'Escanear QR', '/qr', method: 'get' %>
<% end %>

<% if @user_decorator.can_get_infected? %>
<%= button_to 'Registrar test positivo', '/tests/positive', method: 'get' %>
<% end %>

<%= button_to 'Registrar nueva locación', new_location_path, method: 'get' %>
<%= button_to 'Registrar test negativo', '/tests/negative', method: 'get' %>