<div class="container p-3 my-3 border">
  <h1>Nueva Locación</h1>
</div>
<div class="container p-3 my-3 border">
  <%= form_for(@location) do |f| %>
  <div class="form-group">
    <%= f.label 'Nombre'%><br>
    <%= f.text_field :name, placeholder: 'Sherlock Holmes´s house', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Capacidad'%><br>
    <%= f.number_field :capacity, placeholder: '4', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Calle'%><br>
    <%= f.text_field :street, placeholder: 'Baker Street', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Altura'%><br>
    <%= f.number_field :street_number, placeholder: '221', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Código postal'%><br>
    <%= f.number_field :zip_code, required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'País'%><br>
    <%= f.text_field :country, placeholder: 'Argentina', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Cargar logo'%><br>
    <%= f.file_field :location_image, required: true %> <br>
  </div>

  <%= f.submit 'Agregar', class: "btn btn-success" %>
  <% end %>
</div>