<div class="container p-3 my-3 border">
  <h1>Nueva Locación</h1>
</div>
<div class="container p-3 my-3 border">
  <%= form_for(@location) do |f| %>
  <div class="form-group">
    <%= f.label 'Nombre'%><br>
    <%= f.text_field :name, placeholder: 'Mi local uno', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Latitud'%><br>
    <%= f.text_field :latitude, placeholder: 'Latitud', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Longitud'%><br>
    <%= f.text_field :longitude, placeholder: 'Longitud', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Capacidad'%><br>
    <%= f.number_field :capacity, placeholder: '5', required: true %> <br>
  </div>

  <div class="form-group">
    <%= f.label 'Cargar logo'%><br>
    <%= f.file_field :location_image, required: true %> <br>
  </div>

  <%= f.submit 'Agregar', class: "btn btn-success" %>
  <% end %>
</div>