<h1>Ac치 est치 tu locaci칩n <%= @location.name %> </h1>
<h2>Actualmente hay <%= @location.user_locations.count %> personas en tu local. </h2>
    Nombre: <%= @location.name %> <br>
    Geoposici칩n: <%= @location.latitude.to_s + ' ' + @location.latitude.to_s %> <br>
    Logo: <image src="<%= url_for(@location.location_image) %>"/> <br>
    QR: ESTO ES UN QR <br>

    <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%=Rails.application.secrets.google_api_key%>
        &q=<%=@location.latitude.to_str + '%20' + @location.longitude%>" allowfullscreen>
</iframe>