<!DOCTYPE html>
<html>

<head>
  <title>Yo Estuve Aqui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">
    <img src="/assets/logo.png" width="20" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    YEA!
  </a>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <li><%= link_to "Home", '/home', class: 'nav-link' %></li>
      </li>
      <li class="nav-item">
        <%= link_to "Mis locaciones", locations_path, method: 'get', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Mis tests", '/tests', method: 'get', class: 'nav-link' %>
      </li>
    </ul>
    </div>
    <ul class="nav navbar-nav navbar-right" >
      <li class="nav-item">
        <%= link_to "Salir", '/logout', method: 'delete', class: 'nav-link' %>
      </li>
    </ul>
    
</nav>


<body>
  <div class='container'>
    <br>
    <%= yield %>
  </div>
</body>

<% flash.each do |type, message| %>
<div class="alert alert-info">
  <%= message %>
</div>
<% end %>

</html>